<div class="sect-005">
    <div class="inner">
      <div class="sub-class">
        <h2>理想のシャンプー・トリートメントをお探しの方に</h2>
        <p>オススメしたいのが<br>
          <strong>唯一、お風呂で簡単にできる<br>サロントリートメント！</strong>
        </p>
        <div class="row">
          <div class="red col-md-4">
            <p>特許技術インカラミ</p>
          </div>
          <div class="red col-md-4">
            <p>毛髪強度回復140%</p>
          </div>
          <div class="red col-md-4">
            <p>ノーベル賞成分フラーレン</p>
          </div>
        </div>
        <p>カリスマ美容師が認めた実績を持つ<br>TOKIOインカラミだから出来る<br>シャンプー・トリートメント</p>
        <div class="col-md-3 col-4 area">
          <p><img src="assets/index/images/discount.png" alt="ダントツ人気NO.１" class="discount"></p>
        </div>
        <div class="product">
          <p><img src="assets/index/images/img44.png" alt="商品" width="605" height="640" class="img-fluid"></p>
          <h4>TOKIO IE インカラミ プラチナム<br>シャンプートリートメント</h4>
          <h5>2ヶ月分／1セット<span>８８３５</span><strong>円</strong><br>（税込９７１９円）</h5>
          <h6>※１回の使用量目安：2プッシュ（ミディアム）</h6>
          <div class="btn-this">
            <a href="#nav-tab"><img src="assets/index/images/btn01.png" width="1566" height="341" alt="ご購入はこちら"
                class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="sub-class">
        <br>
        <div class="product">
          <p><img src="assets/index/images/img44-3.png" alt="商品" width="605" height="640" class="img-fluid"></p>
          <h4>TOKIO IE インカラミ プレミアム<br>シャンプートリートメント</h4>
          <h5>2ヶ月分／1セット<span>１０７３５</span><strong>円</strong><br>（税込１１９０９円）</h5>
          <h6>※１回の使用量目安：2プッシュ（ミディアム）</h6>
          <div class="btn-this">
            <a href="#nav-tab"><img src="assets/index/images/btn01.png" width="1566" height="341" alt="ご購入はこちら"
                class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="sub-class">
        <br>
        <div class="product">
          <p><img src="assets/index/images/img44-2.png" alt="商品" width="605" height="640" class="img-fluid"></p>
          <h4>TOKIO IE インカラミ ヘッドスパ<br>シャンプートリートメント</h4>
          <h5>2ヶ月分／1セット<span>９３１０</span><strong>円</strong><br>税込１０２４１円</h5>
          <h6>※１回の使用量目安：2プッシュ（ミディアム）</h6>
          <div class="btn-this">
            <a href="#nav-tab"><img src="assets/index/images/btn01.png" width="1566" height="341" alt="ご購入はこちら"
                class="img-fluid"></a>
          </div>
        </div>
      </div>
    </div>
  </div>