<div class="sect-009">
    <div class="inner">
      <div class="sub-inner-1">
        <div class="title">
          <h5>強くて軽くて柔らかい髪をつくる</h5>
        </div>
        <div class="steps row">
          <div class="col-2 offset-2">
            <img src="assets/index/images/img-110.png" alt="" class="img-fluid">
          </div>
          <div class="ingredients col-7">
            <p>ダウン＆フェザーケラチン<br>(TOKIOインカラミ１)</p>
          </div>
        </div>

        <div class="steps row">
          <div class="col-2 offset-2">
            <img src="assets/index/images/img-111.png" alt="" class="img-fluid">
          </div>
          <div class="ingredients col-7">
            <p>最高の補修力を持つケラチンアミノ酸<br>(TOKIOインカラミ２)</p>
          </div>
        </div>

        <div class="sect-009-txt">
          <p>特許技術によって厳選されたケラチンの効果を最大化し、あらゆる悩みを解消します。</p>
        </div>

        <div class="sect-009_chart">
          <h3>毛髪強度計測</h3>
          <p class="mb20">両端から計測器で髪をひっぱり、どれくらいの強さで髪が切れるかを使用前後で計測します</p>

          <img src="assets/index/images/graph.svg" alt="毛髪強度回復率140％">
        </div>
      </div>
    </div>
  </div>

  <div class="sect-010">
    <div class="inner">

      <div class="sect010_steps row">
        <div class="col-md-4 col-5">
          <img src="assets/index/images/model-cut001.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-8 col-7 s10_text">
          <p>内部補修の次はキューティクルケア<br>ダメージを受けにくい<br><strong>強いキューティクル</strong>を作る</p>

          <div class="s10_inner row">
            <div class="s10_num col-4">
              <img src="assets/index/images/img-024.png" alt="" class="img-fluid">
            </div>
            <div class="s10_txt02 col-8">
              <h6 class="component">加水分解ケラチン<br>(TOKIO インカラミ3)</h6>
            </div>
          </div>

          <p><strong>キューティクルに潤いを与えます</strong></p>
        </div>
      </div>

      <div class="sect010_steps row">

        <div class="col-8 s10_text">
          <p>キューティクルを整えて<br>シルクの様な<br><strong>ツヤ</strong>と<strong>指通り</strong>を与えます</p>

          <div class="s10_inner row">
            <div class="s10_num col-3">
              <img src="assets/index/images/img-026.png" alt="" class="img-fluid">
            </div>
            <div class="s10_txt02 col-9">
              <h6 class="component01">セラミド・18MEA・フラーレン<br>(TOKIO インカラミ4)</h6>
            </div>
          </div>

        </div>
        <div class="col-4">
          <img src="assets/index/images/model-cut002.png" alt="" class="img-fluid">
        </div>
      </div>

      <img src="assets/index/images/img12.png" width="1800" height="1372" class="img-fluid"
        alt="セラミド：髪の油分の80％を占める保湿成分。18MEA：健康な髪にしか存在しない貴重な油分。ノーベル賞受賞成分 フラーレン" />
    </div>
  </div>