<div class="sect-007">
    <div class="inner">
      <img src="assets/index/images/img-010.png" width="1800" height="170" alt="選ばれる理由" class="img-fluid">
      <p>青山・原宿・銀座のトップサロンで大人気!</p>
      <h3>サロンでインカラミ。</h3>
      <h2>カリスマ美容師たちの支持率No.1<br>サロントリートメント。<br>TOKIOインカラミ トリートメント</h2>
      <div class="w95">
        <p><em>４ステップ</em>で髪の内部からキューティクルまでしっかり補修。<br>
          髪質やダメージの悩みを解決する為には<em>毛髪内部の補修</em>が必要です。<br>
          TOKIOインカラミは、髪の毛の70％を占めるケラチンに着目し、<br class="sp_on"><em>補修の方法を変えました。</em></p>
      </div>

      <div class="txtarea row">
        <div class="col-7">
          <h2>特許技術</h2>
          <h3>インカラミ</h3>
          <p>美しい髪に必要不可欠なケラチンは、ダメージで壊れると二度と再生できません。この壊れたケラチンを、業界初の特許技術で新しく形成し、補修力を最大化します。</p>
        </div>
        <div class="col-5">
          <img src="assets/index/images/img1000.png" class="img-fluid"
            alt="特許技術インカラミ。美しい髪に必要不可欠なケラチンは、ダメージで壊れると二度と再生ができません。この壊れたケラチンを、特許を取得した業界初の技術で新しく形成し、補修力を最大化します。">
        </div>
      </div>
    </div>
  </div>



  <div class="sect-008">
    <div class="inner">
      <h2>毛髪強度回復140％<span>特許技術インカラミの効果によって、毛髪強度が大幅にアップ</span></h2>
      <p>粉々に折れた骨がつながるように<br>毛髪内部に芯ができてしなやかな髪に生まれ変わります。</p>
      <div class="w90">
        <img src="assets/index/images/certified-inkarami.svg" alt="特許技術インカラミ→毛髪強度回復140%" />
      </div>
    </div>
  </div>