<div class="sect-004">
    <h1>こんなお悩み有りませんか？</h1>
    <div class="inner">
        <div class="row">
        <div class="col-7">
            <h2>カラーやパーマが傷んで<br>髪が硬くなってきた…</h2>
        </div>
        <div class="col-5">
            <img src="assets/index/images/img-004.png" alt="カラーやパーマが傷んで髪が硬くなってきた…" class="img-fluid">
        </div>
        </div>

        <div class="row">
        <div class="col-5">
            <img src="assets/index/images/img-005.png" alt="髪が痩せて細くなってきた…" class="img-fluid">
        </div>
        <div class="col-7">
            <h2>髪が痩せて細くなってきた…</h2>
        </div>
        </div>

        <div class="row">
        <div class="col-7">
            <h2>パサついてまとまらない</h2>
        </div>
        <div class="col-5">
            <img src="assets/index/images/img-006.png" alt="パサついてまとまらない" class="img-fluid">
        </div>
        </div>
        <h3>あこがれの<strong>綺麗</strong>な髪を手に入れたい</h3>
    </div>
</div>