<div class="sect-030">
    <div class="txt01">
      <p>※表示価格には別途、消費税がかかります。<br>
        ※万一商品が破損、汚損していた場合は、原則7日以内まで返品可能です。（送料はお客様負担）<a href="https://ifing-beauty.com/pages/law">詳細はこちら</a></p>
    </div>
    <div class="txt02">
      <p>毎日続けたいから安いと嬉しい</p>
      <h2>「定期お届けコースなら」</h2>
      <h1>5%OFF+送料無料!</h1>
      <h3>「定期お届けコース」とは…</h3>
    </div>

    <div class="txt03">
      <p>定期お届けコースは、その都度ご注文頂かなくても、お届け予定日の３営業日前までにお客様からお休み・中止のご連絡をいただくまで定期的に商品をお届けするコースです。</p>
    </div>

    <h1><img src="assets/index/images/img-812.png" alt="定期お届けコース" class="img-fluid"></h1>

    <div class="txt04 row">
      <div class="col-md-2 col-3 txt04_number">
        <img src="assets/index/images/img-801.png" alt="特典１" class="img-fluid">
      </div>
      <div class="col-md-10 col-9 txt04_txt">
        <p>ご指定の<strong>お届け日・時間帯</strong>が選べます。</p>
      </div>
    </div>

    <div class="txt04 row">
      <div class="col-md-2 col-3 txt04_number">
        <img src="assets/index/images/img-802.png" alt="特典２" class="img-fluid">
      </div>
      <div class="col-md-10 col-9 txt04_txt">
        <p><strong>毎回送料無料</strong>でお届けします<sup>※</sup>。</p>
      </div>
    </div>

    <div class="txt04 row">
      <div class="col-md-2 col-3 txt04_number">
        <img src="assets/index/images/img-803.png" alt="特典３" class="img-fluid">
      </div>
      <div class="col-md-10 col-9 txt04_txt">
        <p>TOKIO IE プラチナム・プレミアムシリーズをご購入のお客様には、初回ご注文特典として<strong>洗い流さないトリートメント</strong>を<strong>プレゼント</strong></p>
      </div>
      <p class="txt07">※ 毎回送料無料は、定期お届けコース・セット商品に限ります。 <br>※ 900レフィルをご注文のお客様は専用ボトルケースもお付けします。(初回のみ)<br>※
        初回特典は、定期お届けコースのセット商品をご購入頂いた方のみとなっております。</p>
    </div>


    <div class="txt05 row">
      <div class="txt05_txt col-8">
        <p>ご注文時に普段ご利用されている<br>【サロン・美容室】をご登録ください<br>サロン名までご登録されたお客様には<br>TOKIO IE
          プラチナムの<br><strong>トラベル用3点セット</strong>を<strong>プレゼント</strong></p>
      </div>
      <div class="txt05_img col-4">
        <img src="assets/index/images/img-813.png" alt="トラベル3点セット" class="img-fluid">
      </div>
    </div>

    <h2><img src="assets/index/images/img-811.png" alt="安心でご利用しやすい" class="img-fluid"></h2>

    <div class="txt06 row">
      <div class="txt06_number col-md-2 col-3">
        <img src="assets/index/images/img-804.png" alt="安心１" class="img-fluid">
      </div>
      <div class="txt06_txt col-md-10 col-9">
        <p><strong>配送予定日のご指定・ご変更が可能</strong>です。</p>
      </div>
      <p class="txt06_bottom">次回配送予定日の３営業日前までにご連絡いただければ調整いたします。</p>
      <p class="txt-sm">午前10時までのご注文で最短即日発送〜午前10時以降の場合、翌営業日が配送予定日となっております。</p>
    </div>

    <div class="txt06 row">
      <div class="txt06_number col-md-2 col-3">
        <img src="assets/index/images/img-805.png" alt="安心2" class="img-fluid">
      </div>
      <div class="txt06_txt col-md-10 col-9">
        <p><strong>「一時お休み・ご解約」</strong>いただけます。</p>
      </div>
      <p class="txt06_bottom">長期不在による一時お休みやご解約はいつでも可能です。次回は配送予定日の３営業日前までにご連絡ください。</p>
    </div>

    <div class="txt06 row">
      <div class="txt06_number col-md-2 col-3">
        <img src="assets/index/images/img-806.png" alt="安心３" class="img-fluid">
      </div>
      <div class="txt06_txt col-md-10 col-9">
        <p><strong>ご利用に制限はありません。</strong></p>
      </div>
      <p class="txt06_bottom">一度おやめになられても、通常購入の利用や定期便の再開はいつでも可能です。</p>
    </div>

    <h2><img src="assets/index/images/img-810.png" alt="だから選ばれています" class="img-fluid"></h2>

    <div class="txt08 row">
      <div class="num col-3">
        <img src="assets/index/images/img-807.png" alt="選ばれる理由１" class="img-fluid">
      </div>
      <div class="txt col-9">
        <p>全国の美容室からの<strong>支持率No1</strong><br>東京を中心に国内で多くの美容室から高い価値を得ています</p>
      </div>
    </div>

    <div class="txt08 row">
      <div class="num col-3">
        <img src="assets/index/images/img-808.png" alt="選ばれる理由２" class="img-fluid">
      </div>
      <div class="txt col-9">
        <p><strong>カリスマ美容師支持率No1</strong><br>
          東京を中心に、国内外で多くのトップスタイリストの方々から高い評価を得ています</p>
      </div>
    </div>

    <div class="txt08 row">
      <div class="num col-3">
        <img src="assets/index/images/img-809.png" alt="選ばれる理由３" class="img-fluid">
      </div>
      <div class="txt col-9">
        <p><strong>圧倒的なケア力No1</strong><br>
          TOKIOインカラミが持つ「特許技術インカラミ」によって、毛髪強度回復・ダメージ補修に高い評価を得ています</p>
      </div>
    </div>
</div>