<div class="sect-012">
    <h2>多くのカリスマ美容師の方に<br>ご愛用して頂いております！</h2>
    <div class="video_area">
      <h3>AFLOAT　宮村浩気 様</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IvLiNlZXCvQ"></iframe>
      </div>
    </div><!-- / .video_area -->
    <div class="video_area">
      <h3>OCEAN TOKYO　髙木琢也 様</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LB_9sannyWE"></iframe>
      </div>
    </div><!-- / .video_area -->
    <div class="video_area">
      <h3>ABBEY 中村章浩 様</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tBkVOHR4thQ"></iframe>
      </div>
    </div><!-- / .video_area -->
    <div class="video_area">
      <h3>MANHOOD 辻のぞみ 様</h3>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8aVZ678iewM"></iframe>
      </div>
    </div><!-- / .video_area -->

  </div>