<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="assets/index/images/slide01-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？" class="img-fluid">
      </div>
      <div class="swiper-slide"><img src="assets/index/images/slide02-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide03-03.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide04-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide05-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide06-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide07-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
      <div class="swiper-slide"><img src="assets/index/images/slide08-02.png" alt="カミカミスマがTOKIOを愛用する理由とは？"
          class="img-fluid"></div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

<script src="assets/index/js/swiper.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    loop: true,
    speed: 500,
    autoplay: {
      delay: 4000,
      disableOnInteraction: true
    },
  });
</script>