<div class="sect-013">

    <img src="assets/index/images/img-002.png" alt="プロ中のプロ、カミカリスマ が愛用する理由とは？？" class="img-fluid" />
    <h2>プロ中のプロ、<strong>カミカリスマ</strong>が<strong><br>TOKIOインカラミ トリートメント</strong>を愛用する理由とは？</h2>


    <!-- swiper -->
    <?php echo file_get_contents('components/swiper.html') ?>
    

  </div>

  <!-- Instagram -->
  <?php echo file_get_contents('components/social-media.html') ?>

  <div class="sect-015">
    <p class="mb20"><img src="assets/index/images/img20.jpg" width="1800" height="784"
        alt="TOKIOってすごいでしょ？そんな仕上がりを毎日感じたい…" class="img-fluid" /></p>
    <p class="mb20"><img src="assets/index/images/img-017.png" width="1800" height="784" alt="これが毎日自宅でできたら、どうでしょう？"
        class="img-fluid" /></p>
    <div class="p24">
      <p>それは</p>
      <h2>TOKIO IE インカラミ</h2>
      <p class="to-right">です！</p>
    </div>

    <p class="p21"><strong>おうち時間でサロンケア</strong>という新しい習慣</p>
    <p class="p22">唯一、お風呂で簡単に出来る<br>サロントリートメント完成！</p>
    <p class="p23"><img src="assets/index/images/img-019.png" alt="女性のカットモデル さっと仕上がり" class="img-fluid"></p>
    <p>&nbsp;</p>
  </div>


  <div class="sect-016">
    <div class="treatment_text01">
      <div class="treatment-circle-img">
        <img src="assets/index/images/img-901.png" alt="" width="91" height="85">
        <p>&nbsp;</p>
      </div>
      <div class="treatment_text02">
        <h3>それだけじゃない！</h3>
        <h2>もっとずっと髪を触っていたくなる！</h2>
      </div>
      <div class="treatment_img_txt row">
        <div class="treatment_img col-4">
          <img src="assets/index/images/item.png" alt="" class="img-fluid">
        </div>
        <div class="treatment_txt col-8">
          <p>洗い流さないトリートメント</p>
          <p><strong>アウトカラミオイル<br>トリートメント</strong></p>
        </div>
      </div>
      <p class="treatment_text_bottom">毎日アイロンをする…熱に反応し、キューティクルを整えます。<br>もっと手触りを感じたい…独自の補修効果で、更にサラサラで艶々なしなやかな髪へ！</p>
    </div>

    <div class="inner">
      <h1>世界初！家庭用システムトリートメント</h1>
      <h2><strong>シャンプー</strong>と<strong>トリートメント</strong>で <strong>インカラミする！</strong></h2>
      <div class="row">
        <div class="col-6">
          <img src="assets/index/images/img43.png" alt="" class="img-fluid">
        </div>
        <div class="inner_text col-6">
          <h4>イフイング TOKIO IE インカラミ</h4>
          <h4>２ヶ月分／1set</h4>
          <!-- <h5><br><strong>9300</strong><em>円</em></h5> -->
          <h3><span>9300</span>円<br><em>（税込<span>10230</span>円）</em></h3>
          <h6>※１回の使用量目安:２プッシュ(ミディアム)</h6>
        </div>
      </div>



      <a href="#nav-tab"><img src="assets/index/images/btn03.png" alt="ご購入はこちら" class="img-fluid"></a>

    </div>
  </div>